.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

header{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header>hr{
  width: 100%;
}
header div{
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 25%;
}
.logo>img, .minhaConta>img{
  width: 35%;
  height: 80%;
}

.pesquisa{
  width: 40%;
}
.pesquisa>input{
  height: 60%;
  width: 100%;
}
.pesquisa>input::placeholder {
  text-align: center;
}

.minhaConta{
  width: 25%;
}